@media (min-width: 900px) {
  .Editor {
    display: grid;
    grid-template-columns: minmax(0, 3fr) 350px;
    grid-gap: 20px;
    max-width: 150vh;
    margin: 0 auto;
  }
}

@media (max-width: 901px) {
  .Editor--video {
    margin-bottom: 1em;
  }
}

.Editor--video > div {
  position: sticky;
  top: 10px;
}

.Editor--video-input {
  position: relative;
  margin-top: 1em;
}

.Editor--video-input > input {
  width: 100%;
  padding-right: 1.5em;
}

.Editor--video-input > span {
  position: absolute;
  top: 50%;
  right: 0.4em;
  transform: translateY(-50%);
  height: 10px;
  width: 10px;
  line-height: 0.5;
  color: red;
  font-weight: bold;
  pointer-events: none;
}

.Editor--player,
.Editor--video-placeholder {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0 auto;
  position: relative;
}

.Editor--player iframe,
.Editor--video-placeholder > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Editor--video-placeholder > div {
  border: 4px dashed rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Editor--video-placeholder > div > :last-child {
  font-size: 2em;
  margin-top: 0.25em;
}

.Editor--content-part {
  padding: 0.9em 1em 1.1em;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 2px;
}

.Editor--content-part + .Editor--content-part {
  margin-top: 1em;
}

.Editor--content-part > h2 {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  font-size: 1.2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.Editor--content-part > h2 > span + span {
  margin-left: 0.5em;
}

.Editor--content label {
  display: block;
}

.Editor--content label + label {
  margin-top: 1em;
}

.Editor--content label > span {
  display: block;
  margin-bottom: 0.3em;
  opacity: 0.8;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
}

.Editor--content label > input {
  font-size: 1.2em;
}

.Editor--content label > input {
  width: 100%;
}

.Editor--share > div {
  display: flex;
  align-items: center;
}

.Editor--share > div > input {
  flex: 1 0 auto;
}

.Editor--share > div > :not(:first-child) {
  margin: -0.5em;
  margin-left: 0.4em;
  padding: 0.5em;
}
