.EditorStart {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.EditorStart--new {
  display: block;
  background-color: var(--color-accent);
  color: white;
  border-radius: 4px;
  padding: 0.4em 0.8em;
  font-size: 1.2em;
}

.EditorStart--or {
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 2em 0;
}

.EditorStart--load > div:first-child {
  margin-bottom: 10px;
}
