*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body,
button,
input,
select,
textarea {
  font-family: var(--font);
  letter-spacing: -0.02em;
}

html,
body,
#root {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
}

html {
  user-select: none;
}

input {
  padding: 0.35em 0.55em;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset,
    0 2px 5px -2px rgba(0, 0, 0, 0.5) inset;
  border-radius: 0.2em;
}

input:focus {
  box-shadow: 0 0 0 0.15em var(--color-accent) inset,
    0 0 0.5em -0.1em var(--color-accent);
}

button {
  border: 1px solid white;
  color: white;
  background: transparent;
  padding: 0.35em 0.65em 0.4em;
  border-radius: 0.2em;
}

button.small {
  font-size: 0.75em;
  letter-spacing: 0;
  padding: 0.25em 0.65em 0.3em;
}

button:not([disabled]) {
  cursor: pointer;
}

button:not([disabled]):hover {
  background: white;
  color: #333;
}

button[disabled] {
  opacity: 0.8;
}

.global--wrapper {
  max-width: var(--size-max-width);
  margin: 0 auto;
}
