:root {
  --font-system: -apple-system, system-ui, sans-serif;
  --font: "Inter", var(--font-system);

  --color-background: rgb(48, 45, 45);
  --color-text: white;
  --color-gradient-1: rgb(255, 0, 64);
  --color-gradient-2: rgb(255, 51, 0);
  --color-accent: var(--color-gradient-2);

  --size-max-width: 960px;
}
