.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 20px);
  align-items: stretch;
}

.App--header {
  margin-bottom: 40px;
}

.App--content {
  flex: 1 0 auto;
  padding: 10px;
}
