.Footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  margin-top: 1em;
}

.Footer > :first-child {
  margin-bottom: 1em;
  font-size: 12px;
}

.Footer > :last-child svg {
  width: 40px;
  height: 40px;
}
